html{
  font-size:20px;
}

body{
  font-family:"Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  border-bottom: solid 3px rgb(115,115,114);
  letter-spacing: 1.2em;
  text-shadow: 2px 2px 3px gray;
}

.text-skyblue{
  color: skyblue;
}

.text-pink{
  color: rgb(255,192,203);
}

#parent{
  font-weight:bold;
}